<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <mat-error class="alert alert-success">Status: {{errorMessage}}</mat-error>
                <form class="create-playlist" #f="ngForm"(ngSubmit)="createPlayList()&&f.form.valid"novalidate>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label>Name PlayList:</mat-label>
                        <input name="namePlayList" matInput placeholder="Please fill name Playlist..."
                        [(ngModel)]="playList.namePlayList"#namePlayList = "ngModel" required>
                        <mat-icon color="accent" matSuffix>playlist_add</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="f.submitted&&namePlayList.invalid">
                        <mat-error *ngIf="namePlayList.errors"></mat-error>
                    </mat-error><br>
<!--                    <mat-form-field style="width: 300px;" appearance="outline">-->
<!--                        <mat-label>Create By:</mat-label>-->
<!--                        <input name="createBy" matInput placeholder="Please fill name Playlist..."-->
<!--                               [(ngModel)]="playList.createBy" #createBy = "ngModel"  required>-->
<!--                        <mat-icon color="accent" matSuffix>playlist_add</mat-icon>-->
<!--                    </mat-form-field><br>-->
                    <button type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-primary"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        Create Playlist
                    <img src="../../../../assets/images/icons/create-playlist.png" height="40" width="40"/></b></span>
                    </button>
                </form>
                <mat-error *ngIf="!isUploadAvatar">Please upload Avatar</mat-error>
                <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>
            </mat-card>
        </div>
    </div>
</div>
