<div class="col-12" style="margin-top: 20px;">
    <mat-card style="background-color: #f4f4f4; margin-bottom: 70px;">
        <mat-card-header>
            <mat-card-title>Material Style Advanced Audio Player</mat-card-title>
            <mat-card-subtitle>Material Style Advanced Audio Player</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="row justify-contents-around">
            <div class="col py-3 pl-5">
                <h6>Controls</h6>
                <div class="d-flex flex-row px-3">
                    displayTitle:
                    <mat-checkbox style="color:mediumvioletred;" class="px-3 mat-advanced-player-display-title" [checked]="msaapDisplayTitle"
                                  (change)="changeMsbapDisplayTitle($event)">{{msaapDisplayTitle}}</mat-checkbox>
                </div>
                <div class="d-flex flex-row px-3">
                    displayPlayList:
                    <mat-checkbox class="px-3 mat-advanced-player-display-playlist"
                                  [checked]="msaapDisplayPlayList"
                                  (change)="changeMsaapDisplayPlayList($event)">{{msaapDisplayPlayList}}</mat-checkbox>
                </div>
                <div class="d-flex flex-row px-3">
                    displayVolumeControls:
                    <mat-checkbox class="px-3 mat-basic-player-display-title"
                                  [checked]="msaapDisplayVolumeControls"
                                  (change)="changeMsaapDisplayVolumeControls($event)">{{msaapDisplayVolumeControls}}</mat-checkbox>
                </div>
            </div>
            <div class="col" >
<h3>{{title}}</h3>
                <mat-advanced-audio-player [playlist]="msaapPlaylist2" [displayTitle]="msaapDisplayTitle"
                                           [displayPlaylist]="msaapDisplayPlayList" [autoPlay]="false"
                                           muted="muted"
                                           [pageSizeOptions]="pageSizeOptions"
                                           [displayVolumeControls]="msaapDisplayVolumeControls"
                                           [expanded]="true"></mat-advanced-audio-player>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngFor="let song of playlist2">title: {{song.title}} + link : {{song.link}}</div>
