<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form class="create-song-for-band" #f="ngForm" (ngSubmit)="createSongForBand()&&f.form.valid" novalidate>
                    <mat-error class="alert alert-success">{{errorMessage}}</mat-error>
                    <mat-form-field style="width: 300px"appearance="outline">
                        <mat-label>Name Song:</mat-label>
                        <input name="nameSong" matInput placeholder="Fill the name song ..."
                        [(ngModel)]="song.nameSong"#nameSong="ngModel"required>
                        <mat-icon color="accent"matSuffix>queue_music</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="f.submitted&&nameSong.invalid">
                        <mat-error *ngIf="nameSong.errors"></mat-error>
                    </mat-error><br>
                    <mat-form-field style="width: 300px"appearance="fill">
                        <mat-label>Lyrics:</mat-label>
                        <textarea name="lyrics" matInput placeholder="Fill the lyrics of song ..."
                        [(ngModel)]="song.lyrics"#lyrics="ngModel" required>
                        </textarea>
                        <mat-icon color="accent" matSuffix>edit</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="f.submitted&&lyrics.invalid">
                        <mat-error *ngIf="lyrics.errors"></mat-error>
                    </mat-error><br>
                    <mat-form-field style="width: 300px">
                        <mat-label>Select Band</mat-label>
                        <mat-select [(value)]="selectBand" [ngModel]="song.nameBand"
                                    (ngModelChange)="song.nameBand=$event" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let p of bands" [value]="p.nameBand">
                                {{ p.nameBand }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> <br>
                    <button type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        <img src="../../../../assets/images/icons/create-song2.png" height="40" width="40"/>
                        Create Song of Band
                        <img src="../../../../assets/images/icons/create-band.png" height="40" width="40"/></b></span>
                    </button>
                </form><br>
                <mat-card  class="upload-file" >
                    <mat-error *ngIf="!addFileMp3">
                        Please upload File MP3
                    </mat-error>
                    <app-upload-file (giveURLtoCreate)="onChange($event)"></app-upload-file> <br>
                    <mat-error *ngIf="!addAvatar">
                        Please upload Avatar
                    </mat-error>
                    <mat-card>
                        <app-upload-avatar class="upload-avatar" (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>
                    </mat-card>
                </mat-card>
            </mat-card>
        </div>
    </div>
</div>
